@mixin tituloMix{
    color: $txt-titulos;
    margin-bottom: 30px;
    text-align: center;
}

.contenedor {
    padding: 70px 0;
    width: 80%;
    margin: auto;
    overflow: hidden;
}


h1{
    position: absolute;
    top: 0%;
    left: 0%;
    margin-left: 630px;
    
    
}

.titulo-productos{
    @include tituloMix();
    font-size: 2.5em;
    font-weight: bold;
    
}


h3{
    @include tituloMix()
    
}

p{
    @include tituloMix()
}

h4{
    @include tituloMix()
    
}

.textos-header .titulo-index{
    font-size: 6em;
    font-weight: bold;
}